.header {
  position: sticky;
  z-index: 30;
  top: 0;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #121212;
  height: 60px;
  padding: 0 1rem;
}
.nav__logo {
  font-size: 24px;
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 600;
  .nav__logo_img{
    border-radius: 50%;
    background-color: #fff;
    margin: 0 1rem;
  }
}
.nav__menu_bar {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
  padding: 1rem;
}
.nav__menu_bar div {
  width: 40px;
  height: 4px;
  background-color: #fff;
  border-radius: 2px;
}
.nav__menu_list {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 60px;
  width: 288px;
  row-gap: 24px;
  right: -288px;
  padding: 24px 16px;
  transition: all 0.2s;
  min-height: calc(100vh - 60px);
  /* background-color: #fff; */
}
.nav__menu_list.active {
  right: 0;
  background: #121212;
  border-left: 1px solid white;
  border-top: 1px solid white;
  
}
.nav__link {
  font-size: 18px;
  position: relative;
  transition: all 0.2s;
}

.nav__link:hover {
  font-weight: bold;
}

.nav__link.active {
    filter: drop-shadow(0 0 0.75rem #fff);
}
.center {
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .nav__menu_bar {
    display: none;
  }
  .nav__menu_list {
    position: unset;
    flex-direction: row;
    min-height: fit-content;
    width: fit-content;
    column-gap: 24px;
    align-items: center;
  }
  .nav__link::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 6px;
    bottom: -16px;
    left: 0;
    background-color: #fff;
    transition: all 0.2s;
  }

  .nav__link:hover:before {
    width: 100%;
  }
}
